# Ambiente virtual
venv/
.env/
.venv/
env/

# Dependências (Node.js - caso esteja usando)
node_modules/

# Variáveis de ambiente
.env

# Logs
*.log

# Scripts de terminal (se necessário manter)
*.bat
*.sh

# Arquivos de queries SQL
*.sql

# Build (pacotes e distribuições Python)
build/
dist/
*.egg-info/

# Arquivos temporários
*.tmp
*.swp
*.bak

# IDEs / editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
__pycache__/
*.pyc
